<% layout('layout') %>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container py-5">
      <h1>Title</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quod, corrupti
      repudiandae omnis voluptates adipisci temporibus aut rem accusamus eum magnam, rerum sit eveniet?
      Laboriosam quisquam vero magni eum magnam.</p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      
      <form method="post" action="/test">
        <div class="row" id="form__group__zone">
          <div class="input-group mb-3 form__group">
            <select class="form-select" aria-label="Default select example" name="postForm[0][urlStr]">
              <option selected>選擇網址</option>
              <option value="https://mail.558bf.net">https://mail.558bf.net</option>
            </select>
            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="postForm[0][acc]" placeholder="帳號">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="postForm[0][pwd]" placeholder="密碼">
          </div>
        </div>

        <div class="row text-center">
          <div class="col"></div>
          <div class="col">
            <div class="col-auto">
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-success" onclick="addForm()"> + </button>
                <button type="button" class="btn btn-danger"> - </button>
              </div>
            </div>
          </div>
          <div class="col"></div>
        </div>
        
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">送出</button>
        </div>
        
      </form>
      
    </div>
  </div>
</main>
